# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dennis\OneDrive - Stichting Hogeschool Utrecht\HU\Leerjaar 1\Blok D\AC\1 DD & I\AP1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
